<template>
  <div class="row justify-center">
      <div class="col-12 col-md-6 q-pa-xl">
          <q-card>
                <q-form
                    @submit="login"
                >
                <q-card-section class="q-pa-md">
                    <div class="text-h3 text-center q-pa-sm">
                        Activate Email
                    </div>
                    <q-separator/>
                    <div class="text-h5 text-center text-grey q-pa-sm">
                        Enter the 6-digit Code sent to your email address
                    </div>
                </q-card-section>
               <q-card-section>
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="email"
                            v-model="email_address"
                            label="Activation Code"
                            hint="Enter the 6-digit activation code."
                            size=";g"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !== '' && val.length == 6 || 'Please enter a valid activation code.'
                            ]"
                        />
                    </div>
                </q-card-section> 
                <q-card-actions class="q-pa-md" align="center">
                    <q-btn color="primary" icon="check" label="Activate" class="q-ml-md" size="lg" type="submit" />
                </q-card-actions>        
                </q-form>     
          </q-card>
      </div>
  </div>
</template>

<script>
export default {
    name: "Activation"
}
</script>

<style>

</style>