<template>
  <div class="row justify-center">
      <div class="col-12 col-md-6 q-pa-xl">
          <q-card>
                <q-form
                    @submit="login"
                >
                <q-card-section class="q-pa-md">
                    <div class="text-h3 text-center q-pa-sm">
                        Microblog
                    </div>
                    <q-separator/>
                    <div class="text-h5 text-center text-grey q-pa-sm">
                        Log in your account
                    </div>
                </q-card-section>
               <q-card-section>
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="email"
                            v-model="email_address"
                            label="Email Address"
                            hint="Enter your email address."
                            lazy-rules
                            :rules="[
                                val => val !== null && val.length > 0 || 'Please enter a valid email address'
                            ]"
                        />
                    </div>
                    <div class="q-pa-sm">                      
                        <q-input v-model="password" 
                            rounded 
                            outlined 
                            :type="showCurrentPassword ? 'text' : 'password'"
                            label="Password"
                            hint="Enter your password."
                            lazy-rules
                            :rules="[
                                val => val !== null && val !=='' && val.length >= 8 || 'Please create a password with 8 characters and above.'
                            ]"
                        >
                            <template v-slot:append>
                            <q-icon
                                :name="showCurrentPassword ? 'visibility' : 'visibility_off'"
                                class="cursor-pointer"
                                @click="showCurrentPassword = !showCurrentPassword"                              
                            />
                            </template>
                        </q-input>     
                    </div>  
                </q-card-section> 
                <q-card-actions class="q-pa-md" align="right">
                    <div class="text-caption">
                        Do not have an account yet? Create an account for free by <a href="/register">clicking here.</a>
                    </div>
                    <q-btn 
                        color="positive" 
                        icon="login" 
                        label="Login" 
                        class="q-ml-md" 
                        size="md" 
                        type="submit"
                    />
                </q-card-actions>        
                </q-form>     
          </q-card>
      </div>
  </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            showCurrentPassword: false,
            email_address: '',
            password: ''
        }
    },
    methods: {
        login() {
            this.$http({
                url: 'login',
                method: 'POST',
                data: {
                    email_address: this.email_address,
                    password: this.password
                }
            }).then((response) => {
                if (response.data['status'] == "login_success") {
                    localStorage.Authorization = response.data['result']['Authorization'];
                    this.$store.commit('login', response.data['result']['user']);
                    this.$router.push({name: 'Profile', params: {id: this.$store.state.user.id}});
                } else {
                    this.$q.notify({
                        message: 'Its either your email address or password is invalid. Please try logging in again.',
                        color: 'negative'
                    });
                }
            }).catch((err) => {
                if (err.response.status == 404) {
                    this.$q.notify({
                        message: 'Its either your email address or password is invalid. Please try logging in again.',
                        color: 'negative'
                    });
                }
            })
        }
    }
}
</script>

<style>

</style>