<template>
  <div class="q-pa-md">
    <div class="row justify-center">
        <div class="col-12 col-md-5">
            <ProfileNamestrip 
                name="Boss Bill"
                avatar="https://cdn.quasar.dev/img/avatar.png"
            />
            
        </div>
    </div>
  </div>
</template>

<script>
import ProfileNamestrip from '@/components/ProfileNamestrip'
export default {
    components: {
        ProfileNamestrip
    }
}
</script>

<style>

</style>