<template>
  <div class="q-pa-md">
      <div class="row justify-center">
          <div class="col-12 col-md-6">
            <q-card>
                <q-form
                    @submit="createAccount"
                >
                <q-card-section class="q-pa-md">
                    <div class="text-h5 q-pa-sm">
                        Create an Account
                    </div>
                    <q-separator/>
                    <div class="text-subtitle q-pa-sm">
                        Please fill out the form below to create an account for Microblog.
                    </div>
                </q-card-section>
                <q-card-section>
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="text"
                            v-model="first_name"
                            label="First Name"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !== '' && val.length > 2 || 'Please enter your name.'
                            ]"
                        />
                    </div>
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="text"
                            v-model="last_name"
                            label="Last Name"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !== '' && val.length > 2 || 'Please enter your last name.'
                            ]"
                        />
                    </div> 
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="email"
                            v-model="email_address"
                            label="Email Address"
                            lazy-rules
                            :rules="[
                                val => val !== null && val.length > 0 || 'Please enter a valid email address'
                            ]"
                        />
                    </div>
                    <div class="q-pa-sm">
                        <q-input 
                            rounded outlined
                            type="date"
                            v-model="birthdate"
                            hint="Enter date of birth. (Required)"
                            lazy-rules
                            :rules="[
                                val => val.date() || 'Please enter a valid date of birth'
                            ]"
                        />
                    </div>                    
                    <div class="q-pa-sm">                      
                        <q-input v-model="password" 
                            rounded 
                            outlined 
                            :type="showCurrentPassword ? 'text' : 'password'"
                            label="Create a Password"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !=='' && val.length >= 8 || 'Please create a password with 8 characters and above.'
                            ]"
                        >
                            <template v-slot:append>
                            <q-icon
                                :name="showCurrentPassword ? 'visibility' : 'visibility_off'"
                                class="cursor-pointer"
                                @click="showCurrentPassword = !showCurrentPassword"                              
                            />
                            </template>
                        </q-input>     
                    </div>  
                    <div class="q-pa-sm">                      
                        <q-input 
                            v-model="repeatPassword" 
                            rounded outlined 
                            :type="showRepeatPassword ? 'text' : 'password'"
                            label="Repeat Password"
                            lazy-rules
                            :rules="[
                                val => val == this.password && val.length >= 8 || 'Please repeat the password you entered above.'
                            ]"  
                        >
                            <template v-slot:append>
                            <q-icon
                                :name="showRepeatPassword ? 'visibility' : 'visibility_off'"
                                class="cursor-pointer"
                                @click="showRepeatPassword = !showRepeatPassword"
                            />
                            </template>
                        </q-input>     
                    </div>
                    <div class="q-gutter-sm">
                        <q-checkbox v-model="isAgreed" label="I accept anything that this website tells me to." />
                    </div>                                                                      
                </q-card-section>
                <q-card-actions class="q-pa-md" align="right">
                    <q-btn color="primary" icon="arrow_back" @click="$router.go(-1)" label="Cancel" size="md" />
                    <q-btn color="positive" :disable="!isAgreed" icon="add" label="Create Account" size="md" type="submit" />
                </q-card-actions>
                </q-form>
            </q-card>
            
          </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Registration',
    data() {
        return {
            first_name: '',
            middle_name: '',
            last_name: '',
            birthdate: null,
            email_address: '',
            password: '',
            repeatPassword: '',
            showCurrentPassword: false,
            showRepeatPassword: false,
            isAgreed: false
        }
    },
    methods: {
        createAccount() {
            //
        }
    }
}
</script>

<style>

</style>