<template>
  <div class="q-mt-sm">
    <q-card>
      <div class="row q-pa-md">
        <div class="col-12 text-center q-pa-md">
          <q-avatar size="150px">
            <q-img :src="avatar"/>
          </q-avatar>
        </div>
        <div class="col-12 text-center">
          <div class="text-h4">
            {{name}}
          </div>
        </div>
      </div>
    </q-card>
  </div>
</template>
<script>
export default {
  name: "ProfileNamestrip",
  props: [
    'name', 
    'avatar'
  ]
}
</script>

<style>

</style>