<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="glossy">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
          v-if="$store.state.isLoggedIn"
        />

        <q-toolbar-title>
          Microblog 3
        </q-toolbar-title>
        <q-space/>
        <q-btn color="positive" label="Register" class="q-mr-md" to="/register" icon="app_registration" size="md"/>
        or
        <q-btn color="white" label="Log In" class="q-ml-md" to="/login" icon="login" size="md" flat/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      v-if="$store.state.isLoggedIn"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>What do you want to do?</q-item-label>
        <q-item>
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <q-item-label caption>Go to Microblog Homepage.</q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profile</q-item-label>
            <q-item-label caption>Go to your profile.</q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section avatar>
            <q-icon name="chat" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Create a Post</q-item-label>
            <q-item-label caption>Create a new post and share it to everyone.</q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section avatar>
            <q-icon name="forum" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Logout</q-item-label>
            <q-item-label caption>Logout your account.</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view></router-view>
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'LayoutDefault',
  created() {
    this.$http.interceptors.request.use(function (config) {
      config.headers.Authorization = localStorage.Authorization;
      config.headers.Key = process.env.VUE_APP_SECRET;

      return config;
    }, function (error) {
      console.error("The Axios HTTP request has failed. Please see the logs for more details.")
      console.error(error);
      return Promise.reject(error);
    });
  },
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>

<style>
</style>
